.formTextInput {
    margin-left: 23px;
}

.formFileChoose{
    margin-left: 80px;
}

#FileSubmit{
    margin-top:10px;
}

.card {
    margin:10px;
}

#DropdownBtn {
    background-color: green;
}

div.scrollmenu {
    height:400px;
    /* width:800px; */
    overflow: auto;
  }